<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div id="sidebar" class="well sidebar-nav">
				<h5>
					<i class="glyphicon glyphicon-home"></i>
					<small><b>Winners</b></small>
				</h5>
				<ul class="nav nav-pills nav-stacked">
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="winnersAlerts" href="#winnersAlerts">Alerts</a></li>
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="winnersSearch" href="#winnersSearch">Search</a></li>
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="winnersAdd" href="#winnersAdd">Add</a></li>
				</ul>
				
				<h5>
					<i class="glyphicon glyphicon-home"></i>
					<small><b>Winners</b></small>
				</h5>
				<ul class="nav nav-pills nav-stacked">
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="usersAlerts" href="#usersAlerts">Alerts</a></li>
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="usersSearch" href="#usersSearch">Search</a></li>
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="usersAdd" href="#usersAdd">Add</a></li>
				</ul>
				
				<h5>
					<i class="glyphicon glyphicon-home"></i>
					<small><b>API Keys</b></small>
				</h5>
				<ul class="nav nav-pills nav-stacked">
					<li><a data-toggle="collapse" aria-expanded="false" aria-controls="apiKeys" href="#apiKeys">Search</a></li>
				</ul>
				
			</div><!--end sidebar-->
		</div><!--end .col-md-4-->
		<div class="col-md-8">
			<div class="collapse" id="winnersAlerts">
				<div class="card card-body text-success">
					All Good Here!
				</div><!--end .card-body-->
			</div><!--end winnersAlerts-->

			<div class="collapse" id="winnersSearch">
				<div class="card card-body">
					<form class="form-inline md-form form-sm mt-0">
						<i class="fas fa-search" aria-hidden="true"></i>
						<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="search" aria-label="search">
					</form>
					<table class="table">
						<tbody id="winnersSearchBody">
							<tr>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
							</tr>
						</tbody>
					</table>
				</div><!--end .card-body-->
			</div><!--end winnersSearch-->
			
			<div class="collapse" id="winnersAdd">
				<div class="card card-body">
					<form action="">
					
					</form>
				</div><!--end .card-body-->
			</div><!--end winnersAdd-->
		</div><!--end .col-md-8-->
	</div><!--end .row-->
</div><!--end .container-->
