<div class="jumbotron">
	<h1 class="display-4 mx-auto">The Swap</h1>
	<p class="lead">Welcome to the best marketplace to swap services. Please check out our requests page to see if any requests catch your eye.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg mx-auto" href="/requests" role="button">View Requests</a>
	</p> 
</div>
<div class="row justify-content-center">
	<div class="col-md-6 text-center">
		<h2>Pro Bono</h2>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-6 text-center">
		<p>This market works off of the pro bono principle. That means you don't pay a dime. your time is exchanged for their time.</p>
	</div>
</div>
<div class="row justify-content-center">
<h3>For Professional Services</h3>
</div>
<div class="row justify-content-center">
	<div class="col-md-6">
		<p>This market is meant for professional services. For example, a lawyer looking to have a website made.</p>
	</div>
</div>
